/* Catppucin Frappe */
@define-color base   #303446;
@define-color mantle #292c3c;
@define-color crust  #232634;

@define-color text     #c6d0f5;
@define-color subtext0 #a5adce;
@define-color subtext1 #b5bfe2;

@define-color surface0 #414559;
@define-color surface1 #51576d;
@define-color surface2 #626880;

@define-color overlay0 #737994;
@define-color overlay1 #838ba7;
@define-color overlay2 #949cbb;

@define-color blue      #8caaee;
@define-color lavender  #babbf1;
@define-color sapphire  #85c1dc;
@define-color sky       #99d1db;
@define-color teal      #81c8be;
@define-color green     #a6d189;
@define-color yellow    #e5c890;
@define-color peach     #ef9f76;
@define-color maroon    #ea999c;
@define-color red       #e78284;
@define-color mauve     #ca9ee6;
@define-color pink      #f4b8e4;
@define-color flamingo  #eebebe;
@define-color rosewater #f2d5cf;


window {
  border: none;
  font-family: DejaVuSansM Nerd Font, sans-serif;
  font-size: 13px;
  color: @text;
}

window#waybar {
  color: @text;
  background-color: rgba(0, 0, 0, 0);
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  /* background: @overlay0; */
}

#workspaces button {
  color: @text;
  background: @background3;
  /* margin: 7px 5px 10px 5px; */
}

#workspaces button:hover {
  background: @surface0;
  color: @text;
}

#workspaces button.active {
  color: @crust;
  background: @overlay2;
  border: none;
}

#clock,
#battery,
#network,
#power-profiles-daemon,
#wireplumber {
  padding: 0px 20px;
	border-radius: 8px;
  margin-left: 5px;
  color: @crust;
}

#wireplumber {
  padding: 0px 20px 0px 17px;
  background-color: @teal;
}

#network {
  padding: 0px 15px 0px 20px;
  background-color: @green;
}

#battery {
  background-color: @lavender;
}

#clock {
  background-color: @pink;
}

#power-profiles-daemon {
  background-color: @mauve;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}
